In [1]:
%pip install pyautogen~=0.2.0b4 docker

Collecting pyautogen~=0.2.0b4
  Downloading pyautogen-0.2.0-py3-none-any.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.4/114.4 kB 2.5 MB/s eta 0:00:00
Collecting docker
  Downloading docker-6.1.3-py3-none-any.whl (148 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 148.1/148.1 kB 8.1 MB/s eta 0:00:00
Requirement already satisfied: diskcache in /usr/local/lib/python3.10/dist-packages (from pyautogen~=0.2.0b4) (5.6.3)
Collecting flaml (from pyautogen~=0.2.0b4)
  Downloading FLAML-2.1.1-py3-none-any.whl (295 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 295.2/295.2 kB 15.2 MB/s eta 0:00:00
Collecting openai~=1.2 (from pyautogen~=0.2.0b4)
  Downloading openai-1.3.5-py3-none-any.whl (220 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 220.8/220.8 kB 23.3 MB/s eta 0:00:00
Collecting python-dotenv (from pyautogen~=0.2.0b4)
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Requirement already satisfied: termcolor in /usr/local/lib/python3.10/dist-packages (from pyautogen~=0.2.0b4) (2.3.0)
Collecting tiktoken (from pyautogen~=0.2.0b4)
  Downloading tiktoken-0.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 50.3 MB/s eta 0:00:00
Requirement already satisfied: packaging>=14.0 in /usr/local/lib/python3.10/dist-packages (from docker) (23.2)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.10/dist-packages (from docker) (2.31.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from docker) (2.0.7)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.10/dist-packages (from docker) (1.6.4)
Requirement already satisfied: anyio<4,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai~=1.2->pyautogen~=0.2.0b4) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai~=1.2->pyautogen~=0.2.0b4) (1.7.0)
Collecting httpx<1,>=0.23.0 (from openai~=1.2->pyautogen~=0.2.0b4)
  Downloading httpx-0.25.2-py3-none-any.whl (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.0/75.0 kB 8.6 MB/s eta 0:00:00
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai~=1.2->pyautogen~=0.2.0b4) (1.10.13)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai~=1.2->pyautogen~=0.2.0b4) (4.66.1)
Requirement already satisfied: typing-extensions<5,>=4.5 in /usr/local/lib/python3.10/dist-packages (from openai~=1.2->pyautogen~=0.2.0b4) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->docker) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->docker) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->docker) (2023.7.22)
Requirement already satisfied: NumPy>=1.17.0rc1 in /usr/local/lib/python3.10/dist-packages (from flaml->pyautogen~=0.2.0b4) (1.23.5)
Requirement already satisfied: regex>=2022.1.18 in /usr/local/lib/python3.10/dist-packages (from tiktoken->pyautogen~=0.2.0b4) (2023.6.3)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<4,>=3.5.0->openai~=1.2->pyautogen~=0.2.0b4) (1.3.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<4,>=3.5.0->openai~=1.2->pyautogen~=0.2.0b4) (1.1.3)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai~=1.2->pyautogen~=0.2.0b4)
  Downloading httpcore-1.0.2-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.9/76.9 kB 8.4 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai~=1.2->pyautogen~=0.2.0b4)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.1 MB/s eta 0:00:00
Installing collected packages: python-dotenv, h11, flaml, tiktoken, httpcore, docker, httpx, openai, pyautogen
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
llmx 0.0.15a0 requires cohere, which is not installed.
Successfully installed docker-6.1.3 flaml-2.1.1 h11-0.14.0 httpcore-1.0.2 httpx-0.25.2 openai-1.3.5 pyautogen-0.2.0 python-dotenv-1.0.0 tiktoken-0.5.1

In [2]:
import autogen

config_list = autogen.config_list_from_json(
    env_or_file="/content/llm.json",
    filter_dict={
        "model": ["gpt-4"],
    },
)
print(config_list)

[{'model': 'gpt-4', 'api_key': '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'}]

In [3]:
llm_config={
    "timeout": 600,
    "cache_seed": 42,
    "config_list": config_list,
    "temperature": 0,
}

# Construct Agents

In [4]:
# create an AssistantAgent instance named "assistant"
assistant = autogen.AssistantAgent(
    name="assistant",
    llm_config=llm_config,
)
# create a UserProxyAgent instance named "user_proxy"
user_proxy = autogen.UserProxyAgent(
    name="user_proxy",
    human_input_mode="TERMINATE",
    max_consecutive_auto_reply=10,
    is_termination_msg=lambda x: x.get("content", "").rstrip().endswith("TERMINATE"),
    code_execution_config={"work_dir": "web"},
    llm_config=llm_config,
    system_message="""Reply TERMINATE if the task has been solved at full satisfaction.
Otherwise, reply CONTINUE, or the reason why the task is not solved yet."""
)

## Example Task: Fetch geeksforgeeks from URL

In [5]:
# the assistant receives a message from the user, which contains the task description
user_proxy.initiate_chat(
    assistant,
    message="""
extarct the sql queries from this url: https://www.geeksforgeeks.org/sql-concepts-and-queries/
""",
)

user_proxy (to assistant):


extarct the sql queries from this url: https://www.geeksforgeeks.org/sql-concepts-and-queries/


--------------------------------------------------------------------------------
assistant (to user_proxy):

To extract SQL queries from a webpage, we can use Python's `requests` and `BeautifulSoup` libraries to fetch and parse the webpage, and then use regular expressions to find SQL queries. Here is the Python code to do this:

```python
# python code
import requests
from bs4 import BeautifulSoup
import re

def extract_sql_queries(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all code blocks
    code_blocks = soup.find_all('pre')

    sql_queries = []

    for block in code_blocks:
        # Extract SQL queries using regular expression
        queries = re.findall(r'(?i)(SELECT|INSERT|UPDATE|DELETE|CREATE|DROP|ALTER)\s.*?;', block.text, re.DOTALL)
        sql_queries.extend(queries)

    return sql_queries

url = 'https://www.geeksforgeeks.org/sql-concepts-and-queries/'
queries = extract_sql_queries(url)

for query in queries:
    print(query)
```

This script fetches the webpage, parses it to find all code blocks (`<pre>` tags), and then uses a regular expression to find SQL queries. The regular expression looks for SQL keywords (SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER) followed by any characters until a semicolon (;), which is the end of a SQL query. The `(?i)` at the start of the regular expression makes it case-insensitive, and the `re.DOTALL` flag makes the `.` character match any character including newlines, which allows the regular expression to match multi-line SQL queries.

Please run this script to extract the SQL queries from the provided URL.

--------------------------------------------------------------------------------

>>>>>>>> USING AUTO REPLY...

>>>>>>>> EXECUTING CODE BLOCK 0 (inferred language is python)...
user_proxy (to assistant):

exitcode: 0 (execution succeeded)
Code output:
DROP
CREATE
CREATE
CREATE
DROP
INSERT
SELECT
CREATE
CREATE
CREATE
CREATE
CREATE
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT
SELECT


--------------------------------------------------------------------------------
assistant (to user_proxy):

It seems like the code has successfully extracted SQL commands from the webpage. However, it only printed the first word of each SQL statement (like DROP, CREATE, SELECT, etc.) rather than the full SQL queries. This is because the regular expression used in the code is not correctly capturing the entire SQL query.

Let's modify the regular expression to correctly capture the entire SQL query. Here is the corrected Python code:

```python
# python code
import requests
from bs4 import BeautifulSoup
import re

def extract_sql_queries(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all code blocks
    code_blocks = soup.find_all('pre')

    sql_queries = []

    for block in code_blocks:
        # Extract SQL queries using regular expression
        queries = re.findall(r'(?i)((?:SELECT|INSERT|UPDATE|DELETE|CREATE|DROP|ALTER)\s.*?;)', block.text, re.DOTALL)
        sql_queries.extend(queries)

    return sql_queries

url = 'https://www.geeksforgeeks.org/sql-concepts-and-queries/'
queries = extract_sql_queries(url)

for query in queries:
    print(query)
```

This script should now correctly print the entire SQL queries from the webpage. Please run this script again.

--------------------------------------------------------------------------------

>>>>>>>> USING AUTO REPLY...

>>>>>>>> EXECUTING CODE BLOCK 0 (inferred language is python)...
user_proxy (to assistant):

exitcode: 0 (execution succeeded)
Code output:
DROP DATABASE student;
CREATE DATABASE bank;
CREATE TABLE table_name (
   column1 datatype,
   column2 datatype,
  ....
);
CREATE TABLE IF NOT EXISTS Employee (
   EmployeeID int,
   FirstName varchar(55),
   LastName varchar(55),
   Email varchar(150),
   DOB date
);
DROP TABLE table_name;
INSERT INTO Employee
VALUES(1111,'Dipak','Bera','dipakbera@gmail.com','1994-11-22');
SELECT * FROM Employee;
CREATE TABLE table_name (
  column1 datatype NOT NULL,
  column2 datatype,
 ....
);
CREATE TABLE table_name (
 column1 datatype UNIQUE,
 column2 datatype,
....
);
CREATE TABLE demo_table
(
EmployeeID int NOT NULL UNIQUE,
FirstName varchar(55),
LastName varchar(55)
);
CREATE TABLE IF NOT EXISTS Customer(
CustID int NOT NULL,
FName varchar(55),
LName varchar(55),
Email varchar(100),
DOB date,
CONSTRAINT customer_custid_pk  PRIMARY KEY(CustID)
);
CREATE TABLE Account(
AccNo int NOT NULL,
AType varchar(20),
OBal int,
OD date,
CurBal int,
CONSTRAINT customer_AccNo_fk  FOREIGN KEY(AccNo) REFERENCES Customer(CustID)
);
SELECT column1, column2, ...
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;
SELECT * FROM Account ORDER BY CurBal;
SELECT * FROM Account ORDER BY CurBal DESC;
SELECT COUNT(AType) FROM Account GROUP BY AType;
SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;
SELECT column_name(s)
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2
ON table1.column_name = table2.column_name;
SELECT column_name(s) FROM table1
UNION
SELECT column_name(s) FROM table2;
SELECT column_name(s)
FROM table1 T1, table1 T2
WHERE condition;
SELECT column1, column2, ...
FROM table_name
WHERE condition;
SELECT  AccNo,CurBal FROM Account WHERE CurBal>=1000;
SELECT column1, column2, ...
FROM table_name
HAVING condition;
SELECT  AccNo,CurBal FROM Account HAVING CurBal=MAX(CurBal);


--------------------------------------------------------------------------------
assistant (to user_proxy):

The code has successfully extracted the SQL queries from the webpage. Here are some of the queries that were extracted:

1. `DROP DATABASE student;`
2. `CREATE DATABASE bank;`
3. `CREATE TABLE table_name (column1 datatype, column2 datatype, ....);`
4. `CREATE TABLE IF NOT EXISTS Employee (EmployeeID int, FirstName varchar(55), LastName varchar(55), Email varchar(150), DOB date);`
5. `DROP TABLE table_name;`
6. `INSERT INTO Employee VALUES(1111,'Dipak','Bera','dipakbera@gmail.com','1994-11-22');`
7. `SELECT * FROM Employee;`
8. `CREATE TABLE table_name (column1 datatype NOT NULL, column2 datatype, ....);`
9. `CREATE TABLE table_name (column1 datatype UNIQUE, column2 datatype,....);`
10. `CREATE TABLE demo_table (EmployeeID int NOT NULL UNIQUE, FirstName varchar(55), LastName varchar(55));`
11. `CREATE TABLE IF NOT EXISTS Customer(CustID int NOT NULL, FName varchar(55), LName varchar(55), Email varchar(100), DOB date, CONSTRAINT customer_custid_pk  PRIMARY KEY(CustID));`
12. `CREATE TABLE Account(AccNo int NOT NULL, AType varchar(20), OBal int, OD date, CurBal int, CONSTRAINT customer_AccNo_fk  FOREIGN KEY(AccNo) REFERENCES Customer(CustID));`
13. `SELECT column1, column2, ... FROM table_name ORDER BY column1, column2, ... ASC|DESC;`
14. `SELECT * FROM Account ORDER BY CurBal;`
15. `SELECT * FROM Account ORDER BY CurBal DESC;`
16. `SELECT COUNT(AType) FROM Account GROUP BY AType;`
17. `SELECT column_name(s) FROM table1 LEFT JOIN table2 ON table1.column_name = table2.column_name;`
18. `SELECT column_name(s) FROM table1 RIGHT JOIN table2 ON table1.column_name = table2.column_name;`
19. `SELECT column_name(s) FROM table1 INNER JOIN table2 ON table1.column_name = table2.column_name;`
20. `SELECT column_name(s) FROM table1 FULL OUTER JOIN table2 ON table1.column_name = table2.column_name;`
21. `SELECT column_name(s) FROM table1 UNION SELECT column_name(s) FROM table2;`
22. `SELECT column_name(s) FROM table1 T1, table1 T2 WHERE condition;`
23. `SELECT column1, column2, ... FROM table_name WHERE condition;`
24. `SELECT  AccNo,CurBal FROM Account WHERE CurBal>=1000;`
25. `SELECT column1, column2, ... FROM table_name HAVING condition;`
26. `SELECT  AccNo,CurBal FROM Account HAVING CurBal=MAX(CurBal);`

This completes the task of extracting SQL queries from the provided URL.

TERMINATE

--------------------------------------------------------------------------------
Please give feedback to assistant. Press enter or type 'exit' to stop the conversation: exit

In [6]:
user_proxy.initiate_chat(
    assistant,
    message="""Show me the 10 most common error when people try to execute sql queries""",
)

user_proxy (to assistant):

Show me the 10 most common error when people try to execute sql queries

--------------------------------------------------------------------------------
assistant (to user_proxy):

Sure, here are the 10 most common errors when people try to execute SQL queries:

1. **Syntax Errors**: These are the most common errors. They occur when the SQL statement is not written correctly, such as missing a semicolon at the end of the statement, or using incorrect commands.

2. **Incorrect Table Names**: This error occurs when the table name specified in the SQL query does not exist in the database.

3. **Incorrect Column Names**: Similar to incorrect table names, this error occurs when the column name specified in the SQL query does not exist in the table.

4. **Data Type Mismatch**: This error occurs when you try to insert or update data in a column with a data type that does not match the data type of the column.

5. **Violation of Unique Constraints**: This error occurs when you try to insert a duplicate value in a column with a unique constraint.

6. **Violation of Foreign Key Constraints**: This error occurs when you try to insert a value in a foreign key column that does not exist in the referenced primary key column.

7. **Incorrect Use of NULL**: This error occurs when you try to insert a NULL value in a column that does not allow NULL values.

8. **Incorrect Use of Aggregate Functions**: This error occurs when you use aggregate functions like COUNT, SUM, AVG, MAX, MIN incorrectly.

9. **Incorrect Use of Subqueries**: This error occurs when subqueries are not used correctly, such as returning more than one value when only one is expected.

10. **Incorrect Use of Joins**: This error occurs when joins are not used correctly, such as trying to join tables on columns that do not have matching data.

These are general errors and the exact error message may vary depending on the SQL database management system being used. It's always a good practice to carefully read the error message as it usually contains information about what went wrong.

--------------------------------------------------------------------------------

>>>>>>>> USING AUTO REPLY...
user_proxy (to assistant):

TERMINATE

--------------------------------------------------------------------------------